# Data analysis of the Wisconsin Breast Cancer Original Dataset

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-analysis-of-the-Wisconsin-Breast-Cancer-Original-Dataset" data-toc-modified-id="Data-analysis-of-the-Wisconsin-Breast-Cancer-Original-Dataset-1">Data analysis of the Wisconsin Breast Cancer Original Dataset</a></span></li></ul></div>

The following analysis is of the Wisconsin Cancer Original Dataset. In the dataset there is 9 attributes that are used to be classfied in Diagnosis column which are beneign or malignent. In the context of this dataset beniegn is where the tumour will have no harmful effect on patient and the malignant means there is harmful.

According the description of the dataset is from different timings and can be separated into the following groups:
Group 1: 367 instances (January 1989)
Group 2:  70 instances (October 1989)
Group 3:  31 instances (February 1990)
Group 4:  17 instances (April 1990)
Group 5:  48 instances (August 1990)
Group 6:  49 instances (Updated January 1991)
Group 7:  31 instances (June 1991)
Group 8:  86 instances (November 1991)
Total:   699 points (as of the donated datbase on 15 July 1992)


The attributes that contribute to the classifiers mentioning in the opening lines are the following and are scored in the domain of 1-10:

Attribute                     Domain
Sample code number            id number
Clump Thickness               1 - 10
Uniformity of Cell Size       1 - 10
Uniformity of Cell Shape      1 - 10
Marginal Adhesion             1 - 10
Single Epithelial Cell Size   1 - 10
Bare Nuclei                   1 - 10
Bland Chromatin               1 - 10
Normal Nucleoli               1 - 10
Mitoses                       1 - 10
Class:                        (2 for benign, 4 for malignant)

This is the context of the dataset that will be reviewed and analysed in the project.

In [2]:
# imports to be used

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [31]:
# load in the dataset
# headers in the excel are as follows 
# id,"clump_thickness","size_uniformity","shape_uniformity","marginal_adhesion","epithelial_size",
#"bare_nucleoli","bland_chromatin","normal_nucleoli","mitoses","class"

# Set the headers in shorter version
# remove the the longer format with header=None
headers = ["ID","CT","UCSize","UCShape","MA","SECSize","BN","BC","NN","Mitoses","Diagnosis"]
data = pd.read_csv('data\Wisconsin_breast_cancer_data.csv',    
         header=None, index_col=['ID'], names = headers)

In [33]:
# check if there is any null values in the columns.
data.isnull().sum()

CT           0
UCSize       0
UCShape      0
MA           0
SECSize      0
BN           0
BC           0
NN           0
Mitoses      0
Diagnosis    0
dtype: int64

In [28]:
# check that the data is correct
data.head(10)

         CT  UCSize  UCShape  MA  SECSize  BN  BC  NN  Mitoses  Diagnosis
ID
1000025   5       1        1   1        2   1   3   1        1          2
1002945   5       4        4   5        7  10   3   2        1          2
1015425   3       1        1   1        2   2   3   1        1          2
1016277   6       8        8   1        3   4   3   7        1          2
1017023   4       1        1   3        2   1   3   1        1          2
1017122   8      10       10   8        7  10   9   7        1          4
1018099   1       1        1   1        2  10   3   1        1          2
1018561   2       1        2   1        2   1   3   1        1          2
1033078   2       1        1   1        2   1   1   1        5          2
1033078   4       2        1   1        2   1   2   1        1          2

In [29]:

data.describe()

,CT,UCSize,UCShape,MA,SECSize,BC,NN,Mitoses,Diagnosis
count,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000,699.000000
mean,4.417740,3.134478,3.207439,2.806867,3.216023,3.437768,2.866953,1.589413,2.689557
std,2.815741,3.051459,2.971913,2.855379,2.214300,2.438364,3.053634,1.715078,0.951273
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000
25%,2.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,1.000000,2.000000
50%,4.000000,1.000000,1.000000,1.000000,2.000000,3.000000,1.000000,1.000000,2.000000
75%,6.000000,5.000000,5.000000,4.000000,4.000000,5.000000,4.000000,1.000000,4.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,4.000000